<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group mt-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, id: :badge_title %>
  </div>

  <div class="form-group badges mt-3">
    <% @images.each do |image| %>
      <div class="badge-item">
      <%= form.radio_button :file_name, "badges/#{image.split('/').last}" %>
      <%= image_tag "badges/#{image.split('/').last}" %><br>
      </div>
    <% end %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :badge_type, class: "form-label" %>
    <%= form.collection_select :badge_type, Badge.badge_types, :first, :first, prompt: true %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :condition, class: "form-label" %>
    <%= form.text_field :condition, id: :condition %>
    <p>Use category name for "All categories" badge, or level number for "All levels". For "First try" badge - please skip this field</p>
  </div>

  <div class="form-group mt-3"><%= form.submit class: "btn btn-primary" %></div>
<% end %>

<p class="mt-3">
  <%= link_to t('.back_to_badges'), admin_badges_path%>
</p>