<h3><%= t('.header', title: @passed_test.test.title) %></h3>
<b><%= @passed_test.success? ? t('.passed') : t('.failed') %></b>
<b><%= t('.result') %>
  <span style="color:<%= @passed_test.success? ? 'green' : 'red' %>"><%= @passed_test.result %>%
  </span>
</b>

<p>
  <%= link_to t('.back_to_tests'), tests_path %>
</p>