<h1><%= t('.header', title: @passed_test.test.title) %></h1>

<h3><%= t('.current_question_is', current: @passed_test.taken_questions + 1, total: @passed_test.test_questions.count) %></h3>

<div class="progress'">
  <%= content_tag :div,
                  class: 'progress-bar progress-bar-striped',
                  role: 'progressbar',
                  data: { current: @passed_test.taken_questions + 1,
                          total: @passed_test.test_questions.count } do %>
    <%= @passed_test.taken_questions + 1 %>/<%= @passed_test.test_questions.count %>
  <% end %>
</div><br>

<b><%= @passed_test.current_question.body %></b>

<%= form_with url: passed_test_path(@passed_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_passed_test_path(@passed_test), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>