<%= form_with model: model, local: true do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <br>
  <div>
    <%= form.submit %>
    <%= link_to 'Back', admin_test_path(@test || @question.test) %>
  </div>
<% end %>
