<div>
  <% if @test.questions.any? %>
    <h3><%= t('.header') %></h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t('.id') %></th>
        <th><%= t('.title') %></th>
        <th colspan="3" style="text-align: center"><%= t('.action') %></th>
      </tr>
      </thead>

      <tbody>
      <%= render @test.questions %>

      </tbody>
    </table>
  <% else %>
    <p><%= t('.no_questions') %></p>
  <% end %>
</div>
