<h3><%= @question.test.title %> Question</h3>
<p><%= @question.body %></p>

<h3>Answers</h3>
<%= link_to 'New answer', new_admin_question_answer_path(@question) %>

<% if @question.answers.any? %>
  <ol>
    <%= render @question.answers %>
  </ol>
<% else %>
  <p>No answers created yet</p>
<% end %>

<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_test_path(@question.test) %>
