<tr>
  <td><a href="<%=test_path(test) %>"><%= test.title %></a></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.author.login %></td>
  <td><%= link_to 'Delete', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to 'Edit', edit_test_path(test) %></td>
</tr>