<h1><%= t('tests.index.header') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.questions_count') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
