<h3>Title: <%= @test.title %></h3>
<h3>Level: <%= test_level(@test) %></h3>

<%= render partial: 'questions/test_questions' %>
<br>
<%= link_to 'New question', new_test_question_path(@test) %> |
<%= link_to 'Back to tests', tests_path %>
